@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato-Regular.eot) format("eot"),
        url(./fonts/Lato-Regular.ttf) format("ttf"),
        url(./fonts/Lato-Regular.woff) format("woff"),
        url(./fonts/Lato-Regular.woff2) format("woff2");
}


body, html{
    margin: 0;
}

.content {
    width: 1110px;
    margin: 0 auto;
    padding-left: 80px;
}

.firstScreen .wrapper {
    background: url(../images/Frame.png) #F4F6F9;
    background-position: 122% 0%;
    background-repeat: no-repeat;
}

.firstScreen .content {
    height: 665px;
}

.firstScreen__img {
    width: 99px;
    height: 32px;
}

.firstScreen__logo {
    padding-top: 61px;
}

.firstScreen__head {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    padding-top: 95px;
    width: 546px;
    height: 96px;
    margin-bottom: 26px;
}

.firstScreen__text {
    width: 453px;
    height: 52px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
}

.firstScreen__appStore {
    margin-top: 35px;
}

.firstScreen__google {
    margin-left: 30px;
}

.secondScreen .wrapper {
    background: url(../images/Footballists.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    position: relative;
}

.secondScreen .wrapper::after {
    content: "";
	display: block;    
	width: 805px;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0px;   
	background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
}

.secondScreen .content {
    height: 592px;
}

.secondScreen__header {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    margin-left: 634px;
    margin-top: 132px;
    z-index: 100;
    position: absolute;
}

.secondScreen__head {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-left: 634px;
    margin-top: 181px;
    z-index: 100;
    position: absolute;
}

.secondScreen__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    margin-left: 634px;
    margin-top: 244px;
    width: 407px;
    z-index: 100;
    position: absolute;
}

.secondScreen__link {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    margin-left: 634px;
    margin-top: 452px;
    z-index: 100;
    position: absolute;
    text-decoration: none;
}

.secondScreen__link:hover {
    color: blue;
    transition: 0.3s;
}

.secondScreen__video {
    position: absolute;
    z-index: 100;
    margin-top: 296px;
    margin-left: 106px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 27.29px;
    height: 12.58px;
    z-index: 333;
    margin-top: 299px;
    margin-left: 56px;
}
  
  /* Скрыть флажок HTML по умолчанию */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* Ползунок */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 104.896px;
    width: 27.29px;
    height: 12.58px;
}
  
.slider:before {
    position: absolute;
    content: "";
    width: 20.99px;
    height: 20.97px;
    right: 12px;
    bottom: -3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
}
  
input:checked + .slider {
    background-color: #979797;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.secondScreen__board {
    width: 360px;
    height: 218.06px;
    background: #FFFFFF;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    position: absolute;
    z-index: 200;
    margin-top: -209px;
}

.secondScreen__date {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16.7833px;
    line-height: 22px;
    color: #4F4F4F;
    margin-top: 27px;
    margin-left: 16px;
    margin-bottom: 0;
}

.secondScreen__versus {
    width: 76.62px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-left: 16px;
    margin-top: 13px;
    margin-bottom: 0;
}

.secondScreen__discription {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-left: 16px;
}

.secondScreen__arsenal {
    position: absolute;
    margin-left: 202px;
    margin-top: -117px;
}

.secondScreen__chelsea {
    position: absolute;
    z-index: 300;
    margin-top: -117px;
    margin-left: 261px;
}

.secondScreen__toggle {
    width: 360px;
    height: 49.27px;
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    margin-top: 24px;
    margin-bottom: 0;
    position: relative;
}

.secondScreen__toggleText {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18.8812px;
    line-height: 25px;
    color: #4F4F4F;
    margin-left: 16px;
    margin-top: 13px;
    position: absolute;
}

.thirdScreen .wrapper {
    background: url(../images/thirdScreenTheme.png);
    background-repeat: no-repeat;
    background-position: 6% 35%;
    
}

.thirdScreen .content {
    height: 674px;
}

.thirdScreen__header {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    padding-top: 203px;
}

.thirdScreen__head {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}

.thirdScreen__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    width: 480px;
}

.thirdScreen__link {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    margin-top: 38px;
    position: absolute;
    text-decoration: none;
}

.thirdScreen__link:hover {
    color: blue;
    transition: 0.3s;
}

.fourthScreen .wrapper {
    background: #00ADEE;
}

.fourthScreen .content {
    height: 735px;
}

.fourthScreen__header {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    padding-top: 74px;
    padding-left: 304px;
}

.fourthScreen__paragraphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 33px;
}

.fourthScreen__paragraphs div  {
    width: 311px;
    height: 166px;
    margin-top: 23px;
}

.fourthScreen__paragraphs p {
    margin-top: 5px;
}

.fifthScreen .wrapper {
    background: #FFFFFF;
}

.fifthScreen .content {
    height: 390px;
}

.fifthScreen__header {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    margin-top: 67px;
}

.owl-carousel button.owl-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background: black;
}

.owl-carousel .owl-dots {
    display: block;
    width: fit-content;
    margin: 45px auto;
}

.owl-carousel button.owl-dot.active {
    background: #D4C17F;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel img {
    width: 309px;
    height: 161px;
}

.sixthScreen .wrapper {
    background: #FAFAFA;
}

.sixthScreen .content {
    height: 223px;
}

.sixthScreen__header {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
}

.sixthScreen__items {
    display: flex;
    justify-content: space-between;
    width: 1081px;
    margin-top: 60px;
    margin-left: 17px
}

button.owl-prev {
    background: url(../images/arrow_left.png);
}

.fifthScreen .owl-dot{
    background-color: #CDCBCB !important;
}

.fifthScreen .active.owl-dot{
    background-color: #828282 !important;
}

.fifthScreen .owl-nav button{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid #00ADEE !important;
    color: #00ADEE !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white !important;
    top: 60px;
}

.fifthScreen .owl-nav button:after{
    content: "";
    width: 7px;
    height: 12px;
    background: url(../images/arrow.png) no-repeat;
}

.fifthScreen .owl-nav button.owl-prev{
    transform: rotate(180deg);
    left: -61px;
}

.fifthScreen .owl-nav button.owl-next{
    right: -276px;
}

.fifthScreen .owl-nav span{
    display: none;
}

.fifthScreen .owl-carousel{
    width: 900px !important;
    margin-top: 60px;
}

.fifthScreen .owl-stage-outer{
    width: 1110px !important;
}

.fifthScreen .owl-stage-outer:after{
    content: "";
    width: 1px;
    height: 161px;
    box-shadow: 0px 0px 45px 47px white;
    display: block;
    position: absolute;
    top: 0;
    right: -1px;
    z-index: 5;
}

.fifthScreen .owl-stage-outer:before{
    content: "";
    width: 1px;
    height: 161px;
    box-shadow: 0px 0px 45px 47px white;
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    z-index: 5;
}

.fifthScreen .owl-item{
    left: 105px;
}

.sixthScreen__sports, .sixthScreen__technology, .sixthScreen__sky {
    margin-top: 11px;
}

.seventhScreen .wrapper {
    height: 483px;
    background: url(../images/Frame2.png), #FFFFFF;
    background-repeat: no-repeat;
}

.seventhScreen .content {
    margin-left: 657px;
    padding-top: 76px;
    width: 535px;
}

.seventhScreen__header {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}

.seventhScreen__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #4F4F4F;
    width: 535px;
    height: 125px;
    padding-top: 5px;
}

.seventhScreen__appStore {
    margin-top: 25px;
    margin-left: 2px;
}

.seventhScreen__google {
    margin-left: 30px;
}

footer .wrapper {
    background: #00ADEE;
}

footer .content {
    height: 127px;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    padding-top: 50px;
}

.footer__navigation a, .footer__navigation_for360 a {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.footer__navigation a:hover {
    color: blue;
    transition: 0.3s;
}

.footer__navigation, .footer__navigation_for360 {
    display: flex;
    justify-content: space-between;
    width: 375px;
    padding-top: 55px;
    padding-left: 22px;
}

.footer__social_network {
    width: 110px;
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-left: 5px;
}

.footer__navigation_for360 {
    display: none;
}


@media screen and (min-width:360px) and (max-width:1109px) {

    .content {
        width: 360px;
        padding-left: 0;
        text-align: center;
    }

    .firstScreen .wrapper {
        background: #F4F6F9;
    }

    .firstScreen__text {
        width: 360px;
        font-size: 16px;
        line-height: 23px;
        text-align: center;

    }

    .firstScreen__head {
        font-size: 30px;
        line-height: 40px;
        width: 360px;
        text-align: center;
    }

    .firstScreen__appStore, .firstScreen__google {
        width: 145.69px;
        height: 44px;
    }

    .secondScreen__video_for360 {
        display: none;
    }

}

@media screen and (min-width:360px) and (max-width:1109px) {

    .content {
        width: 360px;
        margin: 0 auto;
    } 
    .firstScreen .content {
        height: 526px;
    }
    
    .firstScreen__logo {
        padding-top: 32px;
    }

    .firstScreen__head {
        font-size: 30px;
        line-height: 40px;
        height: 119px;
        margin-top: -10px;
    }

    .firstScreen__text {
        height: 70px;
        font-size: 16px;
        line-height: 23px;
        margin-left: 20px;
        width: 320px;
    }

    .secondScreen__header {
        text-align: center;
        margin: 0 auto;
        padding-top: 50px;
        position: relative;
    }

    .secondScreen__head {
        text-align: center;
        margin: 0 auto;
        padding-top: 31px;
    }

    .secondScreen__text {
        text-align: center;
        margin: 0 auto;
        width: 320px;
        padding-top: 124px;
        margin-left: 20px;
    }

    .secondScreen__link {
        margin-top: 352px;
        margin-left: 18px;
    }

    .secondScreen .wrapper::after {
        width: 360px;
    }

    .secondScreen__board {
        width: 247.21px;
        height: 149.58px;
        margin-top: 469px;
        margin-left: 20px;
    }

    .secondScreen__date {
        font-size: 11.5188px;
        line-height: 15px;
        margin-top: 18px;
        margin-left: -157px;
    }

    .secondScreen__versus {
        width: 52.61px;
        height: 34.52px;
        font-weight: 500;
        font-size: 12.3539px;
        line-height: 16px;
        margin-left: 8px;
        margin-top: 10px;
    }

    .secondScreen__toggle {
        width: 247.21px;
        height: 36.8px;
        margin-top: 7px;
    }

    .secondScreen__toggleText {
        font-size: 13px;
        line-height: 17px;
        margin-left: 10px;
    }

    .secondScreen .wrapper {
        background: none;
    }

    .secondScreen .content {
        height: 698px;
    }

    .switch {
        margin-top: 595px;
        margin-left: 132px;
    }

    .slider {
        width: 18.74px;
        height: 8.63px;
        border-radius: 71.9927px;
    }

    .slider:before {
        width: 14.41px;
        height: 14.38px;
    }

    .secondScreen__discription {
        font-size: 10.9812px;
        line-height: 14px;
        margin-left: -154px;
    }

    .secondScreen__arsenal {
        width: 48.76px;
        height: 57.53px;
        margin-left: 0;
        margin-top: -81px;
        right: 59px;
    }

    .secondScreen__chelsea {
        width: 57.66px;
        height: 57.53px;
        margin-left: 0;
        margin-top: -81px;
        right: 10px;
    }

    .secondScreen__video {
        display: none;
    }

    .secondScreen__video_for360 {
        display: block;
        position: absolute;
        z-index: 100;
        margin-top: 595px;
        margin-left: 93px;
        border-radius: 4px;
        box-shadow: -15.1278px 16.3884px 33.6173px rgba(0, 0, 0, 0.5), inset -4.62237px -13.4469px 16.8086px #FFFFFF, inset 3.36173px -1.68086px 5.88302px #C6CFDA;
    }

    .thirdScreen__text {
        width: 320px;
        height: 208px;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        margin-left: 20px;
        width: 320px;
    }

    .thirdScreen__link {
        margin-left: -40px;
        margin-top: 7px;
    }

    .thirdScreen .content {
        height: 1104px;
    }

    .thirdScreen .wrapper {
        background-position: 82% 113%;
        background-size: 1137px 565px;
    }

    .fourthScreen .wrapper {
        background: #FAFAFA;
    }

    .fourthScreen .content {
        height: 1780px;
        margin-top: 61px
    }

    .fourthScreen__header {
        padding-left: 0;
        color: #333333;
        width: 318px;
        margin-left: 20px;
        padding-top: 42px;
    }

    .fourthScreen__paragraphs {
        color: #4F4F4F;
        margin-top: 30px;
    }

    .fourthScreen__paragraphs div {
        margin-left: 25px;
    }

    .fourthScreen__paragraphs div img {
       background-color: #00ADEE;
    }
    .fourthScreen__paragraphs .fourthScreen__paragraph2 {
        margin-top: -19px;
    }

    .fourthScreen__paragraphs .fourthScreen__paragraph3 {
        margin-top: 27px;
    }

    .fourthScreen__paragraphs .fourthScreen__paragraph4 {
        margin-top: 27px;
    }

    .fourthScreen__paragraphs .fourthScreen__paragraph5 {
        margin-top: 27px;
    }

    .fourthScreen__paragraphs .fourthScreen__paragraph6 {
        margin-top: 50px;
    }

    .fourthScreen__paragraphs .fourthScreen__paragraph7 {
        margin-top: 1px;
    }

    .fourthScreen__paragraphs .fourthScreen__paragraph8 {
        margin-top: 0px;
    }

    .fourthScreen__paragraphs .fourthScreen__paragraph9 {
        margin-top: -25px;
    }

    .fifthScreen__header {
        margin-top: 45px;
    }

    .no-js .owl-carousel, .owl-carousel.owl-loaded {
        margin-top: 40px;
        margin-left: 25px;
        overflow: hidden;
    }
    

    .owl-carousel img {
        width: 309px;
        height: 161px;
    }

    .owl-carousel .owl-item img {
        width: 309px !important;
        height: 161px;
    }

    .fifthScreen .owl-item {
        left: 1050px;
    }

    .owl-carousel .owl-dots {
        margin: 0 auto;
        margin-top: 30px;
    }

    .fifthScreen .owl-stage-outer:after, .fifthScreen .owl-stage-outer:before {
        display: none;
    }

    .fifthScreen .owl-stage-outer {
        width: 360px !important;
    }

    .fifthScreen .owl-nav button.owl-next {
        right: 0;
        left: 283px;
    }

    .fifthScreen .owl-nav button.owl-prev {
        display: none;
    }

    .fifthScreen .owl-item{
        left: 0px;
        margin: 0 auto;
    }

    .fifthScreen .owl-carousel {
        width: 340px !important;
    }

    .sixthScreen .wrapper {
        background: #FAFAFA;
    }

    .sixthScreen .content {
        height: 360px;
    }

    .sixthScreen__header {
        margin-top: 19px;
    }

    .sixthScreen__items {
        width: 320px;
        flex-wrap: wrap;
        margin-top: 42px;
    }

    .sixthScreen__sports {
        margin-left: 20px;
    }

    .sixthScreen__nbc {
        margin-top: 17px;
    }

    .sixthScreen__technology {
        margin-top: 31px;
        margin-left: -10px;
    }

    .sixthScreen__news {
        margin-top: 23px;
        margin-right: 12px;
    }

    .sixthScreen__sky {
        margin-top: 38px;
        margin-left: 57px;
    }

    .seventhScreen .wrapper {
        background-position-y: 429px;
        background-size: 360px 261px;
        height: 695px;
    }

    .seventhScreen .content {
        margin: 0 auto;
        padding-top: 76px;
        height: 695px;
        width: 360px;
    }

    .seventhScreen__header {
        font-size: 28px;
        line-height: 37px;
        margin-top: -66px;
    }

    .seventhScreen__text {
        font-size: 16px;
        line-height: 25px;
        width: 309px;
        margin-left: 20px;
        margin-top: -20px;
    }

    .seventhScreen__appStore {
        margin-top: 97px;
        margin-left: 12px;
    }

    footer .content {
        flex-direction: column;
        margin-top: -6px;
        height: 210px;
    }

    .footer__logo {
        padding-top:0;
        margin-top: 46px;
        margin-left: -217px;
    }

    .footer__social_network {
        padding-top: 0;
        padding-left: 21px;
        margin-top: -6px;
    }

    .footer__navigation {
        display: none;
    }

    .footer__navigation_for360 {
        display: block;
        width: 321px;
        padding-top: 12px;
        padding-left: 10px;
        margin-bottom: 42px;
    }

    

}